PORT=3000

DB_NAME=marsai_db
DB_USER=marsai
DB_PASSWORD=Mars2026!
DB_HOST=127.0.0.1
DB_PORT=3306

JWT_SECRET=3939a257017821afc405406c53cd22741720d24871e43ff24792a47045fdc083
JWT_EXPIRES_IN=1h

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

SCW_ACCESS_KEY=
SCW_SECRET_KEY=
SCW_BUCKET=

BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=MarsAI Festival
BREVO_TEMPLATE_NEWSLETTER_WELCOME=
BREVO_TEMPLATE_FILM_CANDIDACY_CONFIRMATION=