PORT=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

JWT_SECRET=
JWT_EXPIRES_IN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

SCW_ACCESS_KEY=
SCW_SECRET_KEY=
SCW_BUCKET=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

BREVO_KEY=